extends layout

block content
  h1 Search Abstraction API
  p This API gives you details of search results based on a keyword
  p use http://search-abs-api.herokuapp.com/api/imagesearch/"YOUSEARCHTERMHERE" to see search results
  p use http://search-abs-api.herokuapp.com/api/latest/imagesearch to see history of past searches
